.main_configuration_scheduler #header_weekdays {
    font-size: 10px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: -5px;
    font-weight: bold;
}

.main_configuration_scheduler #header_weekdays #day1 {
    margin-left: 17px;
    float: left;
}

.main_configuration_scheduler #header_weekdays #day2 {
    margin-left: 6px;
    float: left;
}

.main_configuration_scheduler #header_weekdays #day3 {
    margin-left: 10px;
    float: left;
}

.main_configuration_scheduler #header_weekdays #day4 {
    margin-left: 8px;
    float: left;
}

.main_configuration_scheduler #header_weekdays #day5 {
    margin-left: 8px;
    float: left;
}

.main_configuration_scheduler #header_weekdays #day6 {
    margin-left: 23px;
    margin-right: 7px;
    float: left;
}