
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;} /* remember to define focus styles! */ :focus {outline: 0;} /* remember to highlight inserts somehow! */ins {text-decoration: none;}del {text-decoration: line-through;} /* tables still need 'cellspacing="0"' in the markup */ table {border-collapse: collapse;border-spacing: 0;}


/*---------- BODY --------------------------------*/

body {
    font: 13px Verdana, 'Lucida Grande';

    padding-bottom: 70px;

    min-width: 880px;

    background-image: url('../img/bg/default.png');
    background-repeat: repeat;

    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

.loginform_main {
    text-align: center;
    
    /* Size and position */
    width: 405px;
    height: 150px;
    margin-top: 100px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    /*margin: 60px auto 30px;*/
    padding: 15px;
    position: relative;

    /* Styles */
    background: #fffaf6;
    border-radius: 4px;
    color: #7e7975;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4); 
}

.loginform h1 {
    font-size: 15px;
    font-weight: bold;
    color: #bdb5aa;
    padding-bottom: 8px;
    border-bottom: 1px solid #EBE6E2;
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

.loginform h1 .log-in {
    display: inline-block;
    text-transform: uppercase;
    color: #6c6763;
    padding-right: 2px;
}

.loginform .float {
    width: 200px;
    float: left;
    padding-top: 15px;
    border-top: 1px solid rgba(255,255,255,1);
}

.loginform .float:first-of-type {
    padding-right: 5px;
}

.loginform .float:last-of-type {
    padding-left: 5px;
}

.loginform label {
    width: 200px;
    text-align: left;
    display: block;
    padding: 0 0 5px 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    font-size: 11px;
}

.loginform img {
    max-width: 10px;
    max-height: 10px;

    padding-right: 5px;
}

.loginform input[type=text],
.loginform input[type=password] {
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: 200px;
    padding: 5px;
    margin-bottom: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loginform input[type=text]:hover,
.loginform input[type=password]:hover {
    border-color: #CCC;
}

.loginform label:hover ~ input {
    border-color: #CCC;
}

.loginform input[type=text]:focus,
.loginform input[type=password]:focus {
    border-color: #BBB;
    outline: none; /* Remove Chrome's outline */
}

.loginform input[type=submit] {
    /* Size and position */
    width: 200px;
    height: 38px;
    
    position: relative;

    /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer;

    /* Font styles */
    font-size: 14px;
    line-height: 30px; /* Same as height */
    text-align: center;
    font-weight: bold;

    margin-top:10px;
    margin-left: 1%;
    background: #fbd568; /* Fallback */
    background: -moz-linear-gradient(#fbd568, #ffb347);
    background: -ms-linear-gradient(#fbd568, #ffb347);
    background: -o-linear-gradient(#fbd568, #ffb347);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fbd568), to(#ffb347));
    background: -webkit-linear-gradient(#fbd568, #ffb347);
    background: linear-gradient(#fbd568, #ffb347);
    border: 1px solid #f4ab4c;
    color: #996319;
    text-shadow: 0 1px rgba(255,255,255,0.3);
}

.loginform input[type=submit]:hover {
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.3), 
        inset 0 20px 40px rgba(255,255,255,0.15);
}

.loginform input[type=submit]:active {
    top: 1px;
}

/* Fallback fro broswers that don't support box shadows */
.no-boxshadow .loginform input[type=submit]:hover {
    background: #ffb347;
}

.loginform p:last-of-type {
    clear: both;    
}

.maintenance_msg {
  height: auto;
  box-shadow:
      0 2px 2px rgba(0,0,0,0.2),        
      0 1px 5px rgba(0,0,0,0.2),        
      0 0 0 12px rgba(180,0,0,0.4); 
}

.maintenance_msg h2 {
  font-size: 15px;
  font-weight: bold;
  color: #bdb5aa;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #EBE6E2;
  text-shadow: 0 2px 0 rgba(255,255,255,0.8);
  box-shadow: 0 1px 0 rgba(255,255,255,0.8);

  display: inline-block;
  text-transform: uppercase;
  color: #6c6763;
  padding-right: 2px;
}
