
.main_network {
    /* Size and position */    
    min-height: 120px;
    min-width: 800px;
    width: 800px;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    /*margin: 60px auto 30px;*/
    padding: 15px;
    position: relative;

    /* Styles */
    background: #fffaf6;
    border-radius: 4px;
    color: #7e7975;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4); 
}

.main_network select {
    width: auto;
    font: 13px Verdana, 'Lucida Grande';
    height: 23px;
    border-color: #EBE6E2;
    border-width: 1px;
    border-style: solid;
    margin-left: -1px;
}

.main_network h1 {
    width: 700px;
    text-align: center;
    
    float: none;
    font-size: 15px;
    font-weight: bold;
    color: #bdb5aa;
    padding-bottom: 8px;
    border-bottom: 1px solid #EBE6E2;
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);

    display: inline-block;
    text-transform: uppercase;
    color: #6c6763;
    padding-right: 50px;
    padding-left: 50px;
}

.main_network a {
    color: #7e7975;
}


.main_network #toolbar {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.main_network #toolbar #left {
    text-align: left;
    width: 180px;
    float: left;
}

.main_network #toolbar #right {
    text-align: right;
    width: auto;
}

.main_network #toolbar #right input {
    font: 13px Verdana, 'Lucida Grande';
    height: 23px;
    width: 300px;
    border-color: #EBE6E2;
    border-width: 1px;
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
}

.main_network #toolbar img {
    height: 32px;
    max-width: 32px;
    vertical-align: middle;
    margin-top: -1px;
}

.main_network #header {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.main_network #header #name {
    width: 200px;
    float: left;
}

.main_network #header #state {
    width: 20px;
    float: left;
}

.main_network #header #ip {
    width: 120px;
    float: left;
}

.main_network #header #type {
    width: 50px;
    float: left;
}

.main_network #header #os {
    width: 50px;
    float: left;
}

.main_network #header #infos {
    width: 235px;
    float: left;
}

.main_network #header #action {
    text-align: right;
    width: auto;
}

.main_network #listitem {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.main_network #listitem:hover {
    background-color: #f2edea;
}

.main_network #listitem img {
    height: 20px;
    max-width: 20px;
}

.main_network #listitem #name {
    width: 200px;
    float: left;
    white-space: nowrap;
}

.main_network #listitem #state {
    width: 20px;
    float: left;
}

.main_network #listitem #state img {
    margin-top: 3px;
    max-width: 10px;
    max-height: 10px;
}

.main_network #listitem #ip {
    width: 120px;
    float: left;
}

.main_network #listitem #type {
    margin-left: 4px;
    width: 50px;
    float: left;
}

.main_network #listitem #os {
    margin-left: -3px;
    width: 50px;
    float: left;
}

.main_network #listitem #infos {
    width: 235px;
    float: left;
    white-space: nowrap;
}

.main_network #listitem #action {
    text-align: right;
    width: auto;
}

.main_network #listitem #action img {
    padding-left: 20px;
    height: 20px;
    max-width: 20px;
}

.main_network #listitem #action #editform {
    width: auto;
    float: left;
}


.main_network #edit {
    width: 700px;
}

.main_network #switch {
    display: none;
}

.main_network #edit #text {
    margin-top: 8px;
    width: 130px;
    float: left;    
}

.main_network #edit #value {
    margin-top: 5px;
    width: auto;
    float: none;   
}

.main_network #edit #value input {
    font: 13px Verdana, 'Lucida Grande';
    height: 23px;
    width: 250px;
    border-color: #EBE6E2;
    border-width: 1px;
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
}

.main_network #edit input[id=greenbutton] { 
    width: 130px; 
    height: 32px; 
    position: relative; 
    box-shadow: inset 0 1px rgba(255,255,255,0.3); 
    border-radius: 3px; cursor: pointer; font-size: 12px;
    line-height: 18px; 
    text-align: center; 
    background: #c6ee42; 
    background: -moz-linear-gradient(#c6ee42, #a8ca38); 
    background: -ms-linear-gradient(#c6ee42, #a8ca38); 
    background: -o-linear-gradient(#c6ee42, #a8ca38); 
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#c6ee42), to(#a8ca38)); 
    background: -webkit-linear-gradient(#c6ee42, #a8ca38); 
    background: linear-gradient(#c6ee42, #a8ca38); 
    border: 1px solid #8daa2f; 
    color: #262423;  
    text-shadow: 0 1px rgba(255,255,255,0.3); 
}

.main_network #edit input[id=greenbutton]:hover { 
    box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 20px 40px rgba(255,255,255,0.15);
}

.main_network #edit input[id=redbutton] { 
    width: 130px; 
    height: 32px; 
    position: relative; 
    box-shadow: inset 0 1px rgba(255,255,255,0.3); 
    border-radius: 3px; cursor: pointer; font-size: 12px;
    line-height: 18px; 
    text-align: center; 
    background: #d77a19; 
    background: -moz-linear-gradient(#d77a19, #d74319); 
    background: -ms-linear-gradient(#d77a19, #d74319); 
    background: -o-linear-gradient(#d77a19, #d74319); 
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d77a19), to(#d74319)); 
    background: -webkit-linear-gradient(#d77a19, #d74319); 
    background: linear-gradient(#d77a19, #d74319); 
    border: 1px solid #b52d06;
    color: #262423; 
    text-shadow: 0 1px rgba(255,255,255,0.3);    
}

.main_network #edit input[id=redbutton]:hover { 
    box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 20px 40px rgba(255,255,255,0.15);
}

.main_network #edit input[id=greybutton] { 
    width: 130px; 
    height: 32px; 
    position: relative; 
    box-shadow: inset 0 1px rgba(255,255,255,0.3); 
    border-radius: 3px; cursor: pointer; font-size: 12px;
    line-height: 18px; 
    text-align: center; 
    background: #c0bebb; 
    background: -moz-linear-gradient(#e1e0de, #c0bebb); 
    background: -ms-linear-gradient(#e1e0de, #c0bebb); 
    background: -o-linear-gradient(#e1e0de, #c0bebb); 
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e1e0de), to(#c0bebb));
    background: -webkit-linear-gradient(#e1e0de, #c0bebb);
    background: linear-gradient(#e1e0de, #c0bebb); 
    border: 1px solid #7e7975; 
    color: #262423; 
    text-shadow: 0 1px rgba(255,255,255,0.3); 
}

.main_network #edit input[id=greybutton]:hover { 
    box-shadow: inset 0 1px rgba(255,255,255,0.8), inset 0 20px 40px rgba(255,255,255,0.5); 
}








.main_network_range {
    /* Size and position */    
    min-height: 140px;
    min-width: 800px;
    width: 800px;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    /*margin: 60px auto 30px;*/
    padding: 15px;
    position: relative;

    /* Styles */
    background: #fffaf6;
    border-radius: 4px;
    color: #7e7975;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4); 
}

.main_network_range h1 {
    width: 700px;
    text-align: center;
    
    float: none;
    font-size: 15px;
    font-weight: bold;
    color: #bdb5aa;
    padding-bottom: 8px;
    border-bottom: 1px solid #EBE6E2;
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);

    display: inline-block;
    text-transform: uppercase;
    color: #6c6763;
    padding-right: 50px;
    padding-left: 50px;
}

.main_network_range a {
    color: #7e7975;
}

.main_network_range #toolbar {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.main_network_range #toolbar #left {
    text-align: left;
    width: 180px;
    float: left;
}

.main_network_range #toolbar #right {
    text-align: right;
    width: auto;
}

.main_network_range #toolbar #right input {
    font: 13px Verdana, 'Lucida Grande';
    height: 23px;
    width: 300px;
    border-color: #EBE6E2;
    border-width: 1px;
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
}

.main_network_range #toolbar img {
    height: 32px;
    max-width: 32px;
    vertical-align: middle;
    margin-top: -1px;
}

.main_network_range #header {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.main_network_range #header #ipbereich {
    width: 200px;
    float: left;
}

.main_network_range #header #subnet {
    width: 150px;
    float: left;
}

.main_network_range #header #infos {
    width: 200px;
    float: left;
}

.main_network_range #header #action {
    text-align: right;
    width: auto;
}

.main_network_range #listitem {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.main_network_range #listitem:hover {
    background-color: #f2edea;
}

.main_network_range #listitem #ipbereich {
    width: 200px;
    float: left;
}

.main_network_range #listitem #subnet {
    width: 150px;
    float: left;
}

.main_network_range #listitem #infos {
    width: 330px;
    float: left;
}

.main_network_range #listitem #action {
    text-align: right;
    width: auto;
}

.main_network_range #listitem #action img {
    padding-left: 20px;
    height: 20px;
    max-width: 20px;
}

.main_network_range #listitem #action #editrangeform {
    width: auto;
    float: left;
}


.main_network .switch {
    position: relative;

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    background-color: #b7b7b7;

    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 0px rgba(255,255,255,0.4);
}

.main_network .switch .port:first-of-type {
    margin-left: 10px;
}

.main_network .switch .port {
    position: relative;

    width: 50px;
    height: 45px;

    margin-top: 10px;
    margin-right: 10px;

    background-color: #eaeaea;

    float: left;

    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2);
}

.main_network .switch .port:hover + .port_info { 
    z-index: 100; 
    opacity: 1; 
    -webkit-transition: all 0.3s ease-in-out; 
    -moz-transition: all 0.3s ease-in-out; 
    -o-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out; 
}

.main_network .switch .port:last-of-type {
    float: none;
}

.main_network .switch .port .socket {
    position: absolute;
    width: 40px;
    height: 35px;

    margin-top: 5px;
    margin-left: 5px;

    background-color: #383838;
}

.main_network .switch .port .led_act {
    position: absolute;
    z-index: 5;

    width: 9px;
    height: 9px;

    margin-top: 5px;
    margin-left: 5px;

    background-color: #787878; /* #66ff33 */
    border: 1px solid #eaeaea;
}

.main_network .switch .port .led_lnk {
    position: absolute;
    z-index: 6;

    width: 9px;
    height: 9px;

    margin-top: 4px;
    margin-left: 35px;

    background-color: #787878; /* #fff033 */

    border: 1px solid #eaeaea;
}

.main_network .switch .port .number {
    position: absolute;

    z-index: 4;

    width: 15px;
    height: 15px;

    margin-top: 17px;
    margin-left: 18px;

    color: #c5c5c5;
}

.main_network .switch .port_info {
    opacity: 0; 
    -webkit-transition: none; 
    -moz-transition: none; 
    -o-transition: none; 
    transition: none; 
    width: 300px; 
    position: absolute; 
    z-index: -1;  
    padding: 5px; 
    margin: auto; 
    color: #e5e4e3; 
    font-weight: bold; 
    -moz-user-select: 
    -moz-none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    cursor: default; 
    background-color: rgba(30,30,30,0.6); 
    border-bottom-left-radius: 5px; 
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 0px rgba(255,255,255,0.4);
}

.main_network .switch .port_info #text {
    width: 105px;
    float: left;
}

.main_network .switch .port_info #value {
    width: auto;
    float: none;
}
