html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
	font: 12px Verdana, 'Lucida Grande';
	
	margin: 0;

    width: 100%;
    /*height: 100%;*/

	background: #1b1b1b; /* Fallback */
    background: -moz-linear-gradient(#1b1b1b, #1b1b1b);
    background: -ms-linear-gradient(#1b1b1b, #1b1b1b);
    background: -o-linear-gradient(#1b1b1b, #1b1b1b);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1b1b1b), to(#1b1b1b));
    background: -webkit-linear-gradient(#1b1b1b, #1b1b1b);
    background: linear-gradient(#1b1b1b, #1b1b1b);
    background-repeat: no-repeat;

	-webkit-font-smoothing: antialiased;

	color: #d5d5d5;
}

html {
	/* fixes bug for iphone where font is bigger as usual in other browsers */
	-webkit-text-size-adjust: none;
}

a {
	text-decoration: none;
}
a:hover {
    text-decoration: none;
}

#titlebar {
	width: 100%;
    height: 35px;

	background: #1c1c1c;
    background: -moz-linear-gradient(#1e1e1e, #1f1f1f);
    background: -ms-linear-gradient(#1e1e1e, #1f1f1f);
    background: -o-linear-gradient(#1e1e1e, #1f1f1f);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1e1e1e), to(#1f1f1f));
    background: -webkit-linear-gradient(#1e1e1e, #1f1f1f);
    background: linear-gradient(#1e1e1e, #1f1f1f);

    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.0) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.0) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.0) inset;

    line-height: 35px;
    vertical-align: middle;

    color: #8c8c8c;
}

#titlebar #left {
    width: 33%;
    text-align: left;

    margin-left: 10px;

    float: left;
}

#titlebar #middle {
    width: 33%;
    text-align: center;

    float: left;
    overflow: none;
    word-wrap: none
}

#titlebar #right {
    width: auto;
    text-align: right;
    margin-right: 10px;
}
#titlebar #right img {
    width: 30px;
    height: auto;
}

#titlebar #status {
    width: 7px;
    height: 7px;

    margin-top: 14px;
    margin-right: 5px;

    border-radius: 50%;
    float: left;
}
#titlebar #status.connected {
    background-color: #78e509;
}
#titlebar #status.disconnected {
    background-color: #ff280a;
}

#titlebar #date {
	width: 110px;
	float: left;
    overflow: none;
}

#titlebar #time {
	width: 100px;
	float: left;
    overflow: none;
}

#titlebar #title {
	width: auto;

	font-weight: bold;
	font-size: 16px;
	line-height: 35px;
    overflow: none;
    word-wrap: none;
}




#boxarea {
    height: auto;

    margin-top: 20px;
    margin-right: 10px;
	margin-left: 10px;
    margin-bottom: 20px;
}

#boxarea a:hover {
    text-decoration: none;
}

#boxarea #griditem {
    float: left;

    width: 324px;
    height: 150px;

    margin-right: 10px;
    margin-bottom: 10px;
}
#boxarea #griditem:last-of-type {
    margin-bottom: 70px;
}

#boxarea #boxitem {
    width: 324px;
    height: 150px;

    color: #d5d5d5;
    background: #1e1e1e;
    background: -moz-linear-gradient(#1e1e1e, #1f1f1f);
    background: -ms-linear-gradient(#1e1e1e, #1f1f1f);
    background: -o-linear-gradient(#1e1e1e, #1f1f1f);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1e1e1e), to(#1f1f1f));
    background: -webkit-linear-gradient(#1e1e1e, #1f1f1f);
    background: linear-gradient(#1e1e1e, #1f1f1f);

    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.0) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.0) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.0) inset;
}
#boxarea #boxitem:before, #boxitem:after {
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

#boxarea #boxitem #title {
    margin-left: 10px;
    padding-top: 10px;

    font-weight: bold;

    float: left;
}
#boxarea #boxitem #pages {
    margin-right: 10px;
    padding-top: 10px;

    font-weight: bold;
    text-align: right;
}
#boxarea #boxitem #icon {
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: 0px;
    margin-left: 240px;
}

#boxarea #boxitem.info {
    color: #000;
    background: #f8c600; /* Fallback */
    background: -moz-linear-gradient(#f8c600, #eabe11);
    background: -ms-linear-gradient(#f8c600, #eabe11);
    background: -o-linear-gradient(#f8c600, #eabe11);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f8c600), to(#eabe11));
    background: -webkit-linear-gradient(#f8c600, #eabe11);
    background: linear-gradient(#f8c600, #eabe11);
}
#boxarea #boxitem.alarm {
    color: #000;
    background: #f86300; /* Fallback */
    background: -moz-linear-gradient(#f86300, #ff7113);
    background: -ms-linear-gradient(#f86300, #ff7113);
    background: -o-linear-gradient(#f86300, #ff7113);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f86300), to(#ff7113));
    background: -webkit-linear-gradient(#f86300, #ff7113);
    background: linear-gradient(#f86300, #ff7113);
}
#boxarea #boxitem #icon.info {
    background-image: url('img/info.png');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    opacity: 0.3;

    margin-top: 35px;
}
#boxarea #boxitem #icon.alarm  {
    background-image: url('img/alarm.png');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    opacity: 0.3;

    margin-top: 35px;
}
#boxarea #boxitem #rows, #boxarea #boxitem.large #rows {
    margin-left: 10px;
    margin-right: 10px;
    /*margin-top: 10px;*/
}
#boxarea #boxitem #rows [id^='message'], #boxarea #boxitem.large #rows [id^='message'] {
    width: 100%;
    height: auto;

    margin-top: 10px;
    margin-bottom: 10px;

    overflow: hidden;
}



#boxarea #boxitem.large {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 150px;
}
#boxarea #boxitem.large #title {
    margin-left: 10px;
    padding-top: 10px;

    font-weight: bold;
    float: none;
}
#boxarea #boxitem.large:last-of-type {
    margin-bottom: 70px;
}
#boxarea #boxitem.large #icon {
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
    margin-right: 20px;
    float: right;
}




#boxarea #boxitem.wetter_aktuell #rows_left {
    float: left;

    margin-left: 10px;
    margin-top: 10px;
    margin-right: 20px;

    width: 350px;
}
#boxarea #boxitem.wetter_aktuell #rows_left #text {
    width: 200px;
}

#boxarea #boxitem.wetter_aktuell #rows_right {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

    width: auto;
}
#boxarea #boxitem.wetter_aktuell #rows_right #image img {
    margin-bottom: 20px;
} 
#boxarea #boxitem.wetter_aktuell #rows_right:after {
    clear: both;
}


#boxarea #boxitem div.indicator {
    width: 35px;
    height: 35px;
    
    border-radius: 50%;
}
#boxarea #boxitem div.indicator.grey {
    background-color: #828282;

    box-shadow: #000 0 -1px 7px 1px, inset #5c5c5c 0 -1px 9px, #828282 0 2px 12px;
}
#boxarea #boxitem div.indicator.green {
    background-color: #78e509;
    
    box-shadow: #000 0 -1px 7px 1px, inset #5eb407 0 -1px 9px, #78e509 0 2px 12px;
}
#boxarea #boxitem div.indicator.orange {
    background-color: #ff7b0a;

    box-shadow: #000 0 -1px 7px 1px, inset #d66300 0 -1px 9px, #ff7b0a 0 2px 12px;
}
#boxarea #boxitem div.indicator.red {
    background-color: #ff280a;

    box-shadow: #000 0 -1px 7px 1px, inset #d61a00 0 -1px 9px, #ff280a 0 2px 12px;
}












#boxarea #boxitem.praesenz #buttons {
    float: left;
    margin-left: 30px;
}
#boxarea #boxitem.praesenz #value {
    position: absolute;
    margin-left: 110px;
    margin-top: 30px;
}
#boxarea #boxitem.praesenz #value input {
    font: 16px Verdana, 'Lucida Grande';
    width: 80px;
    height: 40px;
    border-color: #383838;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    text-align: center;
    background-color: #2b2b2b;
}
#boxarea #boxitem.praesenz #icon {
    background-image: url('img/praesenz.png');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    opacity: 0.1;
}





#boxarea #boxitem.temperaturregelung #buttons {
    float: left;
    margin-left: 40px;
}
#boxarea #boxitem.temperaturregelung #value {
    position: absolute;
    margin-left: 110px;
    margin-top: 30px;
}
#boxarea #boxitem.temperaturregelung #value input {
    font: 16px Verdana, 'Lucida Grande';
    width: 80px;
    height: 40px;
    border-color: #383838;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    text-align: center;
    background-color: #2b2b2b;
}
#boxarea #boxitem.temperaturregelung #icon {
    background-image: url('img/heizung.png');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    opacity: 0.1;
}






#boxarea #boxitem.licht #buttons {
    float: left;
    margin-top: 30px;
    margin-left: 90px;
}
#boxarea #boxitem.licht #icon, #boxitem.dimmer #icon, #boxitem.philipshue #icon {
    background-image: url('img/licht.png');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    opacity: 0.1;
}





#boxarea #boxitem.einausschalter #buttons {
    float: left;
    margin-top: 30px;
    margin-left: 90px;
}
#boxarea #boxitem.einausschalter #icon {
    background-image: url('img/einausschalter.png');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    opacity: 0.1;
}





#boxarea #boxitem.raspberrypigpio #buttons {
    float: left;
    margin-top: 30px;
    margin-left: 90px;
}
#boxarea #boxitem.raspberrypigpio #icon {
    background-image: url('img/einausschalter.png');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    opacity: 0.1;
}






#boxarea #boxitem.tuerfensterkontakt #buttons {
    float: left;
    margin-top: 30px;
    margin-left: 120px;
}
#boxarea #boxitem.tuerfensterkontakt #icon {
    background-image: url('img/schloss.png');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    opacity: 0.1;
}






#boxarea #boxitem.webcam #image {
    float: left;
    width: 140px;
    height: 105px;

    margin-top: 5px;
    margin-left: 75px;

    text-align: center;

    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
}
#boxarea #boxitem.webcam #image img {
    width: 140px;
    height: 105px;

    background-image: url('../../img/testimage.gif');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}
#boxarea #boxitem.webcam #icon {
    background-image: url('img/webcam.png');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    opacity: 0.1;
}
#boxarea #boxitem.webcam.large #image_left {
    float: left;

    width: auto;
    height: auto;

    margin: 10px;

    background-color: #1c1c1c;

    text-align: center;

    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
}
#boxarea #boxitem.webcam.large #image_left img {
    width: auto;
    height: auto;

    background-image: url('../../img/testimage.gif');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}
#boxarea #boxitem.webcam.large #controlpad_right {
    width: auto;
    margin: 10px;

    text-align: center;
}
#boxarea #boxitem.webcam.large #controlpad_right #controls {
    
}






#boxarea #boxitem.jalousie #icon {
    background-image: url('img/jalousie.png');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    opacity: 0.1;
}
#boxarea #boxitem.jalousie #buttons {
    float: left;
    margin-left: 40px;
}
#boxarea #boxitem.jalousie #value {
    position: absolute;
    margin-left: 110px;
    margin-top: 30px;
}
#boxarea #boxitem.jalousie #value input {
    font: 16px Verdana, 'Lucida Grande';
    width: 80px;
    height: 40px;
    border-color: #383838;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    text-align: center;
    background-color: #2b2b2b;
}
#boxarea #boxitem.jalousie #presets {
}






#boxarea #boxitem[class^='block_'] {
    height: auto;
    min-height: 150px;
}
#boxarea #boxitem[class^='block_'] [id^='rows'], 
{
    margin-top: 20px;
    margin-bottom: 10px;
}
#boxarea #boxitem[class^='block_'] [id^='rows'] [id^='row'] #text,
#boxarea #griditem [id^='flipcontainer'] [class^='flipper'] [class='back'] #boxitem [id^='rows'] [id^='row'] #text
{
    float: left;
    width: 130px;
    margin-right: 10px;
}
#boxarea #boxitem.block_1 #icon {
    background-image: url('img/hauswerte.png');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    opacity: 0.1;
}
#boxarea #boxitem.block_2 #icon {
    background-image: url('img/muelltonne.png');
    background-repeat: no-repeat;
    background-size: 400%;
    background-position: center;
    opacity: 0.5;
}
#boxarea #boxitem.block_3 #icon {
    background-image: url('img/anrufe.png');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    opacity: 0.1;
}






#boxarea #boxitem.wetter_aktuell #icon {
    background-image: url('img/wetter_station.png');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    opacity: 0.1;
}
#boxarea #boxitem.wetter_prognose {
    margin-bottom: 20px;
}
#boxarea #boxitem.wetter_prognose #icon {
    background-image: url('img/wetter_prognose.png');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    opacity: 0.1;
}
#boxarea #boxitem.wetter_prognose [id^='forecast_'] img {
    height: 40px;
    width: auto;
}
#boxarea #boxitem.wetter_prognose [id^='forecast_'] #title {
    margin-left: 0px;
    margin-top: 0px;
}
#boxarea #boxitem.wetter_prognose [id^='forecast_'] #text {
    width: 180px;
    float: left;
}
#boxarea #boxitem.wetter_prognose [id^='forecast_'] #value {
    width: auto;
}
#boxarea #boxitem.wetter_prognose #forecast_0 {
    width: 33%;
    padding-top: 10px;
    padding-left: 10px; 
    float: left;
}
#boxarea #boxitem.wetter_prognose #forecast_1 {
    width: 33%;
    padding-top: 10px;
    float: left;
}
#boxarea #boxitem.wetter_prognose #forecast_2 {
    width: auto;
    padding-top: 10px;
    padding-right: 10px; 
}





#boxarea #boxitem.musicplayer {
    min-width: 420px;
    width: auto;
    height: 400px;
}
#boxarea #boxitem.musicplayer #inforow {
    position: relative;
    width: 100%;
    height: 150px;
    margin-top: 20px;
}
#boxarea #boxitem.musicplayer #inforow #cover {
    width: 200px;
    float: left;
}
#boxarea #boxitem.musicplayer #inforow #songinfo {
    width: auto;
}
#boxarea #boxitem.musicplayer #inforow #songinfo:after {
    clear: both;
}
#boxarea #boxitem.musicplayer #inforow #songinfo #song_artist {
    font-weight: bold;
    padding-top: 25px;
    overflow: hidden;
}
#boxarea #boxitem.musicplayer #inforow #songinfo #song_title {
    font-style: italic;
    font-weight: bold;

    padding-top: 10px;
    overflow: hidden;
}
#boxarea #boxitem.musicplayer #inforow #songinfo #song_album {
    padding-top: 10px;
    overflow: hidden;
}
#boxarea #boxitem.musicplayer #controlrow {
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
}
#boxarea #boxitem.musicplayer #controlrow #controls {
    margin-left: 30px;
}
#boxarea #boxitem.musicplayer #controlrow #controls #btn_prev {
    width: 40px;
    height: 40px;

    float: left;
    margin-right: 20px;

    background-image: url('../img/music/prev.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
#boxarea #boxitem.musicplayer #controlrow #controls #btn_stop {
    width: 40px;
    height: 40px;

    float: left;
    margin-right: 20px;

    background-image: url('../img/music/stop.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
#boxarea #boxitem.musicplayer #controlrow #controls #btn_play {
    width: 40px;
    height: 40px;

    float: left;
    margin-right: 20px;

    background-image: url('../img/music/play.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
#boxarea #boxitem.musicplayer #controlrow #controls #btn_next {
    width: 40px;
    height: 40px;

    float: left;

    background-image: url('../img/music/next.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
#boxarea #boxitem.musicplayer #controlrow #controls #btn_next:after {
    float: none;
    clear: both;
}

#boxarea #boxitem.librarybrowser {
    float: left;

    width: 500px;
    height: 400px;
}





#footer {
    position:absolute; 

    width: 100%;
    height: 50px;

    line-height: 50px;
    vertical-align: middle;

    background: #1c1c1c;
    background: -moz-linear-gradient(#1e1e1e, #1f1f1f);
    background: -ms-linear-gradient(#1e1e1e, #1f1f1f);
    background: -o-linear-gradient(#1e1e1e, #1f1f1f);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1e1e1e), to(#1f1f1f));
    background: -webkit-linear-gradient(#1e1e1e, #1f1f1f);
    background: linear-gradient(#1e1e1e, #1f1f1f);

    -webkit-box-shadow:0 -1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.0) inset;
       -moz-box-shadow:0 -1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.0) inset;
            box-shadow:0 -1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.0) inset;


    color: #8c8c8c;
}
#footer #left {
    width: 70%;

    text-align: left;

    float: left;
}
#footer #middle {
    width: 5%;

    text-align: center;

    float: left
}
#footer #right {
    width: auto;

    text-align: right;
}







.toggle {
  position: relative;
  width: 98px;
  height: 37px;
  background-color: #eee;
  border: 1px solid #bbb;
  border-radius: 20px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, .1);
}
/* Text indicating "on" or "off". Default is "off" */
.toggle:before {
  position: absolute;
  right: 16px;
  font-weight: bold;
  line-height: 37px;
  color: #777;
  text-shadow: 0 1px #fff;
  text-transform: uppercase;
  content: "Aus";
}
/* Sliding handle */
.toggle-handle {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 2;
  width: 37px;
  height: 37px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #fff 0, #f2f2f2 100%);
  background-image: linear-gradient(to bottom, #fff 0, #f2f2f2 100%);
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 100px;
  -webkit-transition: -webkit-transform 0.1s ease-in-out, border 0.1s ease-in-out;
                  transition: transform 0.1s ease-in-out, border 0.1s ease-in-out;
}
/* Active state for toggle */
.toggle.active {
  background-color: #aaf91b;
  background-image: -webkit-linear-gradient(top, #78e509 0, #aaf91b 100%);
  background-image: linear-gradient(to bottom, #78e509 0, #aaf91b 100%);
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: inset 0 0 15px rgba(255, 255, 255, .25);
}
/* Active state for toggle handle */
.toggle.active .toggle-handle {
  border-color: rgba(0, 0, 0, .2);
  -webkit-transform: translate3d(60px,0,0);
          transform: translate3d(60px,0,0);
}
/* Change "off" to "on" for active state */
.toggle.active:before {
  right: auto;
  left: 15px;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
  content: "An";
}